.reg-form {
    margin: 0 auto;
    width: 50%;
    margin-top: 75px;
}

.reg-form input {
    width: 100%;
    display: block;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: 20px;
}