.banner-caption {
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 15px;
}

@media Only screen and (max-width:576px) {
    .carousel {
        margin-top: 150px;
    }

    .banner-caption {
        font-size: 5px;
    }
}